<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
  Has made no ratings yet
<% else %>
  Has made <%= pluralize(@user.ratings.size, 'rating') %>, average <%= @user.average_rating %>
<% end %>

<% if @user.favorite_style %>
  <p>Favorite style is <%= @user.favorite_style %></p>
<% end %>

<% if @user.favorite_brewery %>
  <p>Favorite brewery is <%= @user.favorite_brewery.name %></p>
<% end %>

<% if @user.beer_clubs.empty? %>
  <p>Not a member in any clubs</p>
<% else %>
  <p>Member of</p>
  <ul>
    <% @user.beer_clubs.each do |beer_club| %>
      <li><%= link_to beer_club.name, beer_club %></li>
    <% end %>
  </ul>
<% end %>

<h2>Ratings</h2>

<ul class="list-group">
  <% @user.ratings.each do |rating| %>
    <li class="list-group-item col col-md-3 py-2"> <%= rating %> 
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
<% end %>
