<h2><%= @style.name %></h2>

<% if @style.description %>
  <p><%= @style.description %></p>
<% end %>

<h3>Beers</h3>
<ul>
  <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %></li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to 'Edit', edit_style_path(@style), class:'btn btn-primary'%>
  <%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
<% end %>
